# WoW SavedVariables / backups
*.lua.bak
*.toc.bak

# IDE / Editors
.vscode/
.vs/
.idea/
.history/
*.code-workspace
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Build artifacts
release/
.release/
*.zip

# Local packager env
.env
.env.*

# Packager files
.pkgmeta-*
